.borde {
	background-color: gray	; 
	height: 200px;
}
.borde1 {
	background-color: aquamarine	; 
	height: 150px;
}
.borde2 {
	background-color: aqua	; 
	height: 50px;
}
.borde3 {
	background-color: dark	; 
	height: 50px;
}
.borde4 {
	background-color: gray	; 
	height: 50px;
}